body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#header {
    background-color: #FF0000;
    padding: 20px;
    color: #FFFFFF;
    text-align: center;
}

#content {
    display: flex;
    flex: 1;
}

#sidebar {
    background-color: #00FF00;
    width: 200px;
    padding: 20px;
    height: 100%;
}

#manga-section {
    background-color: #0000FF;
    padding: 20px;
    color: #FFFFFF;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.title-content{
    text-align: center;
}

#footer {
    background-color: #FFFF00;
    padding: 20px;
    text-align: center;
}

#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#menu li {
    margin-bottom: 10px;
}

#menu li a {
    color: #000000;
    text-decoration: none;
}

.serie-container {
    border: #000000 solid;
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.serie-image {
    width: 100px;
    margin-right: 20px;
}

.serie-details {
    flex: 1;
}

.serie-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.serie-info {
    margin-bottom: 5px;
}

.serie-info span {
    font-weight: bold;
}

